<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trutech.calculall"
    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:theme="@style/Main"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Basic"
            android:label="@string/title_activity_basic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Advanced"
            android:label="@string/title_activity_advanced"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FunctionMode"
            android:label="@string/title_activity_graphing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VectorMode"
            android:label="@string/title_activity_vector" >
        </activity>
        <activity
            android:name=".MatrixMode"
            android:label="@string/title_activity_matrix_mode" >
        </activity>
    </application>

</manifest>
