<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trutechinnovations.calculall"
    android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
    android:versionCode="7"
    android:versionName="3.1">

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/Theme1">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.trutechinnovations.calculall.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.trutechinnovations.calculall.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
    </application>

</manifest>
